<h3>Camp Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= link_to @camp.name, curriculum_path(@camp.curriculum) %><br /><br />

<strong>Cost:&nbsp;&nbsp;</strong> 
  <%= number_to_currency(@camp.cost) %><br /><br />

<strong>Max Students:&nbsp;&nbsp;</strong> 
  <%= @camp.max_students %><br /><br />

<strong>Dates:&nbsp;&nbsp;</strong> 
  <%= @camp.start_date.strftime('%m/%d/%y') %> 
  <% if @camp.start_date != @camp.end_date %>
    <%= "- #{@camp.end_date.strftime('%m/%d/%y')}" %>
  <% end %>
  <br /><br />

<strong>Description:&nbsp;&nbsp;</strong><br /> 
  <%= @camp.curriculum.description %><br /><br />

<strong>Ratings Range:&nbsp;&nbsp;</strong> 
  <%= @camp.curriculum.min_rating.zero? ? "Unrated" : @camp.curriculum.min_rating %> - <%= @camp.curriculum.max_rating %><br /><br />

<strong>Time:&nbsp;&nbsp;</strong> 
  <%= @camp.time_slot == "am" ? "Morning" : "Afternoon" %><br /><br />

<% if logged_in? %>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @camp.active ? "Yes" : "No" %><br /><br />
  <% end %>

<strong>Registrations (<%= @camp.registrations.size %>):&nbsp;&nbsp;</strong><br /><br />
<%= render :partial => "camp_students", locals: { camp_registrations: students } %>

<strong>Map:</strong><br /><br />
  <%= render :partial => "locations/map", locals: {lat: @camp.location.latitude, lon: @camp.location.longitude, nam: @camp.location.name} %><br /><br />
    
 <%= link_to "Register a student for this camp", new_registration_path(camp_id: @camp.id), class: "button tiny radius" %>&nbsp;&nbsp;

<%= link_to "Edit this camp", edit_camp_path(@camp), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy camp', camp_path(@camp), data: { confirm: 'Are you sure you want to permanently remove this camp from the system?' }, method: :delete, class: "button tiny radius alert" %>