<%= simple_nested_form_for(@instructor, html: { class: 'form-horizontal' }) do |instructor_form| %>
   
   <h3><%= controller.action_name.capitalize %> Instructor</h3>
    <%= render :partial => "instructor_fields", :locals => { :f => instructor_form } %>
  

    <%= instructor_form.simple_fields_for :user do |user_form| %>
            <%= render :partial => "user_fields", :locals => { :f => user_form } %>
          <% end %> 
          <p>
            <br /><%= instructor_form.link_to_add("Add User", :user, :class => 'button tiny') %>
          </p>

    <div class="form-actions">
      <%= instructor_form.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of instructors', instructors_path, :class => 'button secondary radius' %>
    </div>

<% end %>
