<%= simple_form_for(@registration, html: { class: 'form-horizontal' }) do |f| %>
    
	<div class="row">
      <div class="small-6 columns">
    <h3><%= controller.action_name.capitalize %> Student for <%= @registration.camp.name %></h3><br>
    <%= f.input :camp_id, :as => :hidden, :input_html => { :value => "some value" }%>
    <%# f.input :camp_id, collection: Camp.active.chronological, label: "Camp", include_blank: true, input_html: {class: "avg"} %><!--should be passed in via camp details-->
    <%= f.input :student_id, collection: app_helper_obtain_eligible_students(@registration.camp), label: "Students", prompt: "Select student..." %>
    <%= f.input :payment_status, collection: [['Deposit','deposit'],['Full','full']], prompt: "Select payment status" %>
    <%= f.input :points_earned %>
	  </div><!--small 6 cols-->
	</div><!--row-->

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of students', students_path, :class => 'button secondary radius' %>
    </div>

<% end %>
