<h4>Camps and their # of Registrations || Instructors and their # of Camps</h4>

<div class="row">
  <div class="small-6 columns">
<table class="table">
  <tr>
    <th align="left">Camps</th>
    <th>Registrations</th>
    <th></th>
  </tr>

<% @upcoming_camps_for_admin.each do |camp| %>
  <tr>
    <td><%= link_to camp.name, camp_path(camp) %></td>
    <td align="center"><%= camp.registrations.size %></td>
    <td><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
  </tr>
<%end%>
</table>
</div><!--small 6 columns-->

<div class="small-6 columns">
<table class="table">
  <tr>
    <th align="left">Instructors</th>
    <th># Camps</th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= link_to instructor.name, instructor_path(instructor) %></td>
    <td align="center"><%= instructor.camps.size %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor), class: "button tiny radius" %></td>
  </tr>
<%end%>

</table>
</div><!--small 6 columns-->
</div><!--class row-->


<!-- Add the pagination using will_paginate gem -->