<h3>Upcoming Camps</h3>

<table class="table">
  <tr>
    <th align="left">Name</th>
    <th>Start On</th>
    <th>Time</th>
    <th>Description</th>
    <th>Min-Max Ratings</th>
    <th></th>
  </tr>

<% @upcoming_camps_for_guest.each do |camp| %>
  <tr>
    <td><%= link_to camp.name, camp_path(camp) %></td>
    <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
    <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
    <td><%= camp.curriculum.description %></td>
    <td><%= camp.curriculum.min_rating.zero? ? "Unrated - " : "#{camp.curriculum.min_rating} - " + "#{camp.curriculum.max_rating }" %></td> <!--camp.curriculum.max_rating.nil? ? "No maximum" : "#{camp.curriculum.max_rating}" %></td>-->
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @upcoming_camps_for_guest, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>