<h3>Your Instructor Details</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Bio</th>
    <th></th>
  </tr>

  <tr>
    <td><%= link_to current_user.instructor.proper_name, instructor_path(current_user.instructor) %></td>
    <td align="center"><%= current_user.instructor.email %></td>
    <td align="center"><%= number_to_phone(current_user.instructor.phone) %></td>
    <td><%= current_user.instructor.bio %></td>
    <td><%= link_to 'Edit', edit_instructor_path(current_user.instructor), class: "button tiny radius" %></td>
  </tr>
</table>