<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

 <strong>Street 1:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />

<strong>Street 2:&nbsp;&nbsp;</strong> 
  <%= @location.street_2 %><br /><br />

<strong>City, State and Zip:&nbsp;&nbsp;</strong> 
  <%= "#{@location.city}, #{@location.state} #{@location.zip}" %><br /><br />

 <strong>Maximum Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @location.active ? "Yes" : "No" %><br /><br />

<strong>Map</strong><br />
  <%= render :partial => "map", locals: {lat: @location.latitude, lon: @location.longitude} %><br /><br />


<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %>